<h1>iAm</h1>
<ul>
<li>i Am Amazing</li>
<li>i Am Valuable</li>
<li>i Am Needed</li>
<li>i Am Wanted</li>
<li>i Am Creative</li>
</ul>

<%= react_component('Item', name: 'Amazing', type: 'Trait') %>
<%= link_to "Home", root_path %>
