<h1 class="app-title">iAm</h1>
<p style="text-align: center; color: #888888; font-size: 0.5em;">
  igniting Abundant Mindfulness
</p>
<div class="row personal-info">
  <div class="col-md-4 i-am">
    <h2>I am...</h2>
    <ul>
      <li>I am creative.</li>
      <li>I am funny.</li>
      <li>I am loyal.</li>
    </ul>
    I am... <input type="text" />
  </div>
  <div class="col-md-4 i-can">
    <h2>I can...</h2>
    <ul>
      <li>I can lift 100 pounds.</li>
      <li>I can wash dishes.</li>
      <li>I can walk to the store.</li>
      <li>I can feed the dog.</li>
      <li>I can sing.</li>
    </ul>
    I can... <input type="text" />
  </div>
  <div class="col-md-4 i-like">
    <h2>I like...</h2>
    <ul>
      <li>I like to be around people.</li>
      <li>I like animals.</li>
      <li>I like being active.</li>
      <li>I like music.</li>
    </ul>
    I like... <input type="text" />
  </div>
</div>
<div class="footer">
  <a href="<%=root_path%>"><i class="fa fa-home"></i></a>
  <i class="fa fa-share-alt"></i>
  <i class="fa fa-camera"></i>
  <i class="fa fa-cog"></i>
  <i class="fa fa-graduation-cap"></i>
</div>

