<h1 class="app-title">iDelve</h1>
<p style="text-align: center;">
  Hello, <%=current_user.email %>!
  (<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>)
</p>
<div class="buttons-box">
  <div class="round-button profile-button">
    <div class="round-button-circle">
      <a href="<%= idelve_iam_url %>" title="About Me" class="round-button-link">&nbsp;</a>
    </div>
  </div>
  <div class="round-button team-button">
    <div class="round-button-circle">
      <a href="http://www.google.com" title="My Team" class="round-button-link">&nbsp;</a>
    </div>
  </div>
  <div class="round-button resume-button">
    <div class="round-button-circle">
      <a href="<%= skill_list_url %>" title="My Resume" class="round-button-link">&nbsp;</a>
    </div>
  </div>
</div>
<div class="footer">
  <i class="fa fa-home"></i>
  <i class="fa fa-share-alt"></i>
  <i class="fa fa-camera"></i>
  <i class="fa fa-cog"></i>
  <i class="fa fa-graduation-cap"></i>
</div>

