<h1 class="app-title">iConnect</h1>
<p style="text-align: center; color: #888888; font-size: 0.5em;">
  igniting Career Oriented Needed Networks Elevating Compassionate Transactions
</p>
<div class="row contact">
  <div class="col-md-4"><img src="<%= asset_url("person2.png") %>"/></div>
  <div class="col-md-8">
    <h2>Mary Doe</h2>
    Mother</br>
    1234 Main Street</br>
    Waipahu, HI 96797</br>
    (808) 555-1234</br>
    <a href="mailto:mary.doe@thedoes.com">mary.doe@thedoes.com</a>
  </div>
</div>
<div class="row contact">
  <div class="col-md-4"><img src="<%= asset_url("person2.png") %>"/></div>
  <div class="col-md-8">
    <h2>Tanya Morita</h2>
    Employment Specialist</br>
    333 Sesame Street</br>
    Waipahu, HI 96797</br>
    (808) 555-4444</br>
    <a href="mailto:tanya.morita@empower.com">tanya.morita@empower.com</a>
  </div>
</div>
<div class="row contact">
  <div class="col-md-4"><img src="<%= asset_url("person2.png") %>"/></div>
  <div class="col-md-8">
    <h2>Gerry Wataru</h2>
    Co-worker</br>
    241 Oahu Street</br>
    Aiea, HI 96701</br>
    (808) 555-7439</br>
    <a href="mailto:gwataru@gmail.com">gwataru@gmail.com</a>
  </div>
</div>
<br/>
<div class="row">
  <div class="offset-md-4 col-md-8">
    <a href="#">Add new contact...</a>
  </div>
</div>

<div class="footer">
  <a href="<%=root_path%>"><i class="fa fa-home"></i></a>
  <i class="fa fa-share-alt"></i>
  <i class="fa fa-camera"></i>
  <i class="fa fa-cog"></i>
  <i class="fa fa-graduation-cap"></i>
</div>

