@font-face {
  font-family: BaconSans;
  src:url(asset-path("BaconSans.otf")) format("opentype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: BaconSans, sans-serif;
  font-weight: bold;

  background: #e6faff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fffff1, #e6faff); /* Safari */
  background: -o-linear-gradient(bottom right, #fffff1, #e6faff); /* Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fffff1, #e6faff); /* Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fffff1, #e6faff); /* Standard syntax */
  background-repeat: no-repeat;
}

.alert, .notice {
  display: none; /* how do we want to style these? */
}

.app-title {
  font-size: 4em;
  text-align: center;
  margin: 0;
  margin-top: 0.75em;
  font-weight: bolder;
}

.login-section {

  label {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  input#user_password, input#user_email {
    width: 100%;
  }
  .actions {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    input {
      width: 100%;
      height: 2.5em;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.1em;
  text-align: center;
  background-color: #1e0a39;
  border: solid 2px #a3a3a3;
  color: #d2ced7;
  font-size: 2.5em;
  i {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  a {
    color: #d2ced7;
  }
}

.personal-info {
  div {
    padding: 2em 2em;
  }

  .i-am {
    h2 {
      background-image: url(asset-path("portraits.png"));
      background-repeat: no-repeat;
      background-size: 32px 32px;
      padding-left: 48px;
    }
  }

  .i-can {
    h2 {
      background-image: url(asset-path("medal2.png"));
      background-repeat: no-repeat;
      background-size: 32px 32px;
      padding-left: 48px;
    }
  }

  .i-like {
    h2 {
      background-image: url(asset-path("heart2.png"));
      background-repeat: no-repeat;
      background-size: 32px 32px;
      padding-left: 48px;
    }
  }

  ul {
  }
}

.contact {
  margin-top: 3em;
  .col-md-4 {
    text-align: right;
  }
}