@font-face {
  font-family: BaconSans;
  src:url(asset-path("BaconSans.otf")) format("opentype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: BaconSans, sans-serif;
  font-weight: bold;
}

.alert, .notice {
  display: none; /* how do we want to style these? */
}

.app-title {
  font-size: 5em;
  text-align: center;
  margin: 0;
  margin-top: 1em;
  font-weight: bolder;
}

.login-section {

  label {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  input#user_password, input#user_email {
    width: 100%;
  }
  .actions {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    input {
      width: 100%;
    }
  }
}